.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.Gamecontent {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .Gamecontent {
    flex-direction: column;
  }
}